
{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load profile_tags %}
{% get_providers as socialaccount_providers %}
{% get_social_accounts user as accounts %}
{% block head_title %}Profile{% endblock %}
{% block content %}


<div class="container flex justify-center">

    <div class="rounded lg:w-3/4  md:w-3/4 w-[98%] p-10 mt-16 bg-clip-padding bg-nblue-800 backdrop-filter backdrop-blur-xl bg-opacity-60 border border-nblue mb-10 z-0" style="z-index:0">
        <center>
            <div class="rounded-full border border-nblue border-3" style="width:80px;height:80px;margin-top:-80px;background-color:#002a2a"></div>
            <img src="{% avatar user %}" alt="dp" class="rounded-full border border-nblue border-3" style="width:80px;height:80px;margin-top:-80px;">
            <h1 class="text-nblue text-3xl font-bold mt-4">{{user.username}}</h1>
            <p class="justify-between"><button type="button" class="text-white bg-gradient-to-r from-nblue-500 to-nblue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-7 mr-2 mb-2">Score: {{ profile.score}}</button>
                <button type="button" class="text-white bg-gradient-to-r from-nblue-500 to-nblue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-7 mr-2 mb-2">Current Level: {{ profile.current_level}}</button>
                <button type="button" class="text-white bg-gradient-to-r from-nblue-500 to-nblue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-7 mr-2 mb-2">Rank: {{ rank|safe }}</button>
            </p>
            {% if profile.name %}
            <p tabindex="0" class="focus:outline-none text-white text-lg p-5">
                <label for="name" class="text-nblue text-lg"><b>Name: </b></label> {{ profile.name }}
            </p>
            {% endif %}
            <p tabindex="0" class="focus:outline-none text-white text-lg pb-5">
                <label for="name" class="text-nblue text-lg"><b>Email: </b></label> {{user.email}} {% if user.emailaddress_set.all.0.verified %}<span data-tooltip-target="tooltip" data-tooltip-placement="right">
                    <span class="material-icons text-green-400">verified</span>
                </span>
                <div id="tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-nblue bg-nblue-800 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Verified
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                {% else %}
                <span data-tooltip-target="tooltip" data-tooltip-placement="right">
                    <span class="material-icons text-yellow-400">warning</span>
                </span>
                <div id="tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-nblue bg-nblue-800 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Email Not Verified
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                {% endif %}
            </p>
            {% if profile.organization %}
            <p tabindex="0" class="focus:outline-none text-white text-lg pb-5">
                <label for="School/Organization" class="text-nblue text-lg"><b>School/Organization: </b></label> {{profile.organization}}
            </p>
            {% endif %}
            
            <a href="{% url 'edit_profile' %}">
            <button type="button" class="bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue focus:outline-none focus:ring-4 focus:ring-nblue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Edit Profile</button>
            </a>
            <a href="{% url 'account_change_password' %}">
            <button type="button" class="bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue focus:outline-none focus:ring-4 focus:ring-nblue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Change Password</button>
            </a>
            <form action="{% url 'account_logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue focus:outline-none focus:ring-4 focus:ring-nblue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Logout</button>
            </form>
            {% if user.emailaddress_set.all.0.verified %}
            {% else%}
            <form action="{% url 'send_confirmation_email' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="bg-nblue-800 hover:bg-nblue-500 hover:text-black border border-nblue hover:border-black text-nblue focus:outline-none focus:ring-4 focus:ring-nblue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Send Verification Email</button>
            </form>
            {% endif %}
        </center>
    </div>

</div>
</center>
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
{% endblock content %}
